/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*~
outs/*svg
outs/*patdat
outs/*edn
workbench/out
.clj-kondo
MUSHROOM.*
.lsp
browser-based
diff.txt
edit.sh
failures.md
*js.map
workbench/*js
attic/
*/dist/*
tutorial/out
.cpcache
.vscode
