    {:deps
     {org.clojure/clojure {:mvn/version "1.10.0"}
      org.clojure/clojurescript {:mvn/version "1.7.28"}
      org.clojure/data.xml {:mvn/version "0.2.0-alpha8"}

      }
     :paths ["src" "src/cljc" ]}
